#class {height: 638px;position: relative; overflow:hidden;}
.zp { width: 100%;height:100%;text-align:center; }
.zppic { display: inline-block; max-width: 180px; max-height: 76px;}
.zppic img {max-width: 180px; max-height: 76px;}


.bigpic { position: absolute; overflow: hidden; z-index: 99; }
.bigpic img { width: 100%; }

table { width:100%;margin-top: -50px;}