@charset "utf-8";
/*重置样式表*/
body,div,p,h1,h2,h3,ul,ol,li,a,img,span{margin: 0;padding: 0;}
body{
	width: 1349px;
}
a{text-decoration: none;color: black;}
img{outline: none;vertical-align: bottom;}
ul,li{list-style: none;}
.claer:after{
	content: "";
	height: 0;
	display: block;
	clear: both;
	overflow: hidden;
}
nav{
	position: fixed;
	top: 0;
	left: 0;
	height: 80px;
	line-height: 80px;
	background: url(images/nav-bg1.png) no-repeat center top,url(images/nav-bg.png);
	z-index: 999;
}
nav ul{
	width: 1349px;
}
nav li{
	float: left;
	width: 20%;
	font-size: 24px;
}
nav li  a{
	float: left;
	width: 100%;
	text-align: center;
	color: white;
}
nav li  a img{
	width: 100px;
	height: 100px;
	border-radius: 50% 50%;
	position: relative;
	top: 30px;
	animation: sun 5s forwards;
}
@keyframes sun{
	0%{
		top: 360px;
	}
	100%{
		top: 30px;
	}
}
nav li[] a:hover{
	background: #f00;
	color: #0f0;
}
/*第一块*/
#top{
	height: 638px;
	background: url(images/home-bg3.jpg) no-repeat center center/100% 100%;
	overflow: hidden;
}
#top p{
	text-align: center;
	font-family: "楷体";
	font-size: 50px;
	color: white;
	margin-top: 290px;
	animation: txt 5s forwards;
}
@keyframes txt{
	0%{
		margin-top: -20px;
	}
	100%{
		margin-top: 290px;
	}
}
/*work*/
#work ul{
	width: 1170px;
	/*background: #f00;*/
	overflow: hidden;
	margin: 0px auto 0px;
}
#work ul li{
	float: left;
	margin:5px;
	width: 120px;
	height: 150px;
	overflow: hidden;
	position: relative;
}
#work ul li a{
	display: block;
	width: 120px;
	height: 150px;
}
#work ul li img{
	width: 120px;
	height: 150px;
}
#work ul li p{
	position: absolute;
	background: rgba(0,0,0,0.5);
	bottom: 0;
	width: 120px;
	color: white;
	text-align: center;
	display: none;
}
#work ul li:hover p{
	display: block;
}
/*友情链接*/

#link{
	height: 558px;
	padding-top:80px;
	background: #c0392b;
	color:white;
	overflow: hidden;
}
#link .box{
	width: 1220px;
	margin: 0 auto;
	overflow: hidden;
	font-family: "楷体";
	font-size: 20px;
}
#link .box h2{
	font-size: 36px;
	line-height: 100px;
	font-weight: normal;
	margin-left: -30px;
}
#link .box .box2+.box2{
	margin-left: 10px;
}
#link .box .box2{
	width: 350px;
	float: left;
	height: 300px;
	margin-top: 100px;
	padding-left: 30px;
	padding-right: 20px;
}